mixin hotel(hotel, searchQuery)
  .hotel
    .hotel_img 
      //- img(src=`/images/hotels/${hotel.image}`)
      img(src=`https://res.cloudinary.com/dwx0ljg5w/image/upload/${hotel.image}.jpg`)
    .hotel_info 
      .hotel_details
        h3=hotel.hotel_name
        if url.startsWith('/all/')
          p=hotel.hotel_description 
          hr
        p=`Start rating: ${hotel.star_rating}`
        p=`Country: ${hotel.country}`
        p=`Cost per night: $${hotel.cost_per_night.toFixed(2)}`
        if !url.startsWith('/all/')
          a(href=`/all/${hotel._id}`)
            button.button See Hotel details
        else 
          a(href=`/all`)
            button See all Hotels
        if url.startsWith('/all/')
          h3 Simulate an order
          form(class='form', action="/results" ,method="POST")
            .search-fields
              label(for='destination') Destination
              input(name='destination', id='destination', type='text', value=hotel.hotel_name)
            .search-fields
              label(for='duration') Duration nights
              input(name='duration', id='duration', type='number') 
            .search-fields
              label(for='departure') Departure date
              input(name='departure', id='departure', type='date')
            .search-fields
              label(for='guestsN') Number of guests
              input(name='guestsN', id='guestsN' type='number')
            button.button Simulate!
    if url === '/results' || url.startsWith('/confirmation/')
      .hotel_order_details 
        h2 Order details
        p= `Number of guests: ${searchQuery.guestsN}`
        p= `Number of nights: ${searchQuery.duration}`
        p= `Departure date: ${searchQuery.departure}`
        - const costEach = searchQuery.duration * hotel.cost_per_night
        - const totalCost = costEach * searchQuery.guestsN
        p= `Total per person $${costEach.toFixed(2)}`
        h3= `Total cost $${totalCost.toFixed(2)}`

        - const query = `id=${hotel._id}&duration=${searchQuery.duration}&dateOfDeparture=${searchQuery.departure}&guestsN=${searchQuery.guestsN}`;

        if url === 'results'
          a.button.button-secondary(href=`/confirmation/${query}`) Continue
        else if url.startsWith('/confirmation/')
          a.button.button-secondary(href=``) Place order
