mixin hotel(hotel)
  .hotel
      .hotel_img 
        //- img(src=`/images/hotels/${hotel.image}`)
        img(src=`https://res.cloudinary.com/dwx0ljg5w/image/upload/${hotel.image}.jpg`)
      .hotel_info 
        h3=hotel.hotel_name
        hr
        if url.startsWith('/all/')
          p=hotel.hotel_description 
          hr
        p=`Start rating: ${hotel.star_rating}`
        p=`Country: ${hotel.country}`
        p=`Cost per night: $${hotel.cost_per_night.toFixed(2)}`
        if !url.startsWith('/all/')
          a(href=`/all/${hotel._id}`)
            button See Hotel details
        else 
          a(href=`/all`)
            button See all Hotels
      if url === '/results'
        .hotel_order_details 
          p= `Number of guests: ${searchQuery.guestsN}`
          p= `Number of nights: ${searchQuery.duration}`
          p= `Departure date: ${searchQuery.departure}`
          - const costEach = searchQuery.duration * hotel.cost_per_night
          - const totalCost = costEach * searchQuery.guestsN
          p= `Total per person $${costEach.toFixed(2)}`
          hr
          h3= `Total cost $${totalCost.toFixed(2)}`
